@page "/authors/{authorSlug}/books"
@page "/authors/{authorSlug}/books/page/{pageNo:int?}"

@inject IBookService BookService
@inject NavigationManager NavigationManager

<PageTitle>@_heading | Blazing Books</PageTitle>

<SectionContent SectionName="PageTitle">
    <h1 class="m-0 text-white fw-bold">@_heading</h1>
</SectionContent>

<div class="container-lg">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <h3 class="mt-2 mb-3 heading">@_heading</h3>
                <BooksGrid Books="_authorBooks" />
            </div>
        </div>
        <div class="col-md-3">
            <PopulerBooks PopulerBooksList="_populerBooks" />
        </div>
    </div>
</div>

@code{
    private const int PageSize = 16;

    [Parameter]
    public string AuthorSlug {get; set; }

    [Parameter]
    public int? PageNo { get; set; } = 1;

    private BookListDto[] _authorBooks = [];
    private BookListDto[] _populerBooks = [];
    private int _totalCount = 0;

    private string _heading = "Author Books";

    protected override async Task OnInitializedAsync()
    {
        if(PageNo <= 0 || string.IsNullOrWhiteSpace(AuthorSlug))
        {
            NavigationManager.NavigateTo("/");
        }
        (_authorBooks, _totalCount) = await BookService.GetBooksByAuthorAsync(PageNo ?? 1, PageSize, AuthorSlug);
        _populerBooks = await BookService.GetPopulerBooksAsync(10);

        var author = _authorBooks.FirstOrDefault()?.Author;
        if(author is not null)
        {
            _heading = $"Books by {author.Value.Name}";
        }
    }
}