@page "/DONT_USE_THIS_PAGE"


<PageTitle>Home</PageTitle>

<SectionContent SectionName="PageTitle">
    <h1 class="m-0 text-white">Blazing Books</h1>
</SectionContent>

<div class="container-lg">
    <h1>Hello, world!</h1>

    Welcome to your new app.
</div>
